[Unit]
Description=Inspect Device
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=cloud
WorkingDirectory=/home/cloud
ExecStart=/home/cloud/workspaces/inspect-slide-rest/runtime/bin/start-inspect-device.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target